apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "revolt.fullname" . }}-config
  namespace: {{ .Values.global.namespace }}
data:
  Revolt.toml: |
    production = {{ .Values.revolt.config.production }}

    [database]
    mongodb = {{ .Values.global.subcharts.mongo.connection_url | default (printf "mongodb://%s-mongodb" (include "revolt.fullname" .)) | quote }}
    redis = {{ .Values.global.subcharts.redis.connection_url | default (printf "redis://%s-redis-master" (include "revolt.fullname" .)) | quote }}

    [rabbit]
    host = {{ .Values.global.subcharts.rabbitmq.host | default (printf "%s-rabbitmq" (include "revolt.fullname" .)) | quote }}
    port = {{ .Values.global.subcharts.rabbitmq.port }}
    username = {{ .Values.global.subcharts.rabbitmq.username | quote }}
    password = {{ .Values.global.subcharts.rabbitmq.password | quote }}

    [hosts]
    app = "https://{{ .Values.global.domain }}"
    api = "https://{{ .Values.global.domain }}/api"
    events = "wss://{{ .Values.global.domain }}/ws"
    autumn = "https://{{ .Values.global.domain }}/autumn"
    january = "https://{{ .Values.global.domain }}/january"

    [pushd.vapid]
    private_key = {{ .Values.global.secret.vapid_key | quote }}
    public_key = {{ .Values.global.secret.vapid_public_key | quote }}

    [files]
    encryption_key = {{ .Values.global.secret.encryption_key | quote }}
    type = {{ .Values.revolt.config.files.type | quote }}

    [files.s3]
    endpoint = {{ .Values.global.subcharts.minio.connection_url | default (printf "redis://%s-minio:9000" (include "revolt.fullname" .)) | quote }}
    region = {{ .Values.revolt.config.files.s3.region | quote }}
    bucket = {{ .Values.revolt.config.files.s3.bucket | quote }}
    access_key = {{ .Values.revolt.config.files.s3.access_key | quote }}
    secret_key = {{ .Values.revolt.config.files.s3.secret_key | quote }}
    path_style_buckets = {{ .Values.revolt.config.files.s3.path_style_buckets }}

    [sentry]
    dsn = {{ .Values.revolt.config.sentry.dsn | quote }}
    traces_sample_rate = {{ .Values.revolt.config.sentry.traces_sample_rate }}

    [settings]
    allow_registration = {{ .Values.revolt.config.settings.allow_registration }}
    invite_only = {{ .Values.revolt.config.settings.invite_only }}
    minimum_username_length = {{ .Values.revolt.config.settings.minimum_username_length }}
    maximum_username_length = {{ .Values.revolt.config.settings.maximum_username_length }}
